/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    letter-spacing:0.2px;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#EE4000;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.badge {
    position: absolute;
}

.tab-link {
    width: 50px;
}

.plus-button-tab {
    background-color: white;
    color: #EE4000;
    width: 75px;
}

.plus-button {
    margin-top: 6px;
}

.toolbar-inner {
    padding: 0px;
}

.tabbar a.active {
    background-color: #d0d0d0;
    color: black;
}

li #activities {
    height:130px;
    padding-top:20px;
    margin-top:0px;
    width:100%;
}

.item-title {
    font-family:'HelveticaNeue-Medium', Helvetica, Arial, sans-serif;
    line-height:30px;
}

.item-after b {
    float:right;
    font-weight:none;
    font-family:'HelveticaNeue',Helvetica,Arial, sans-serif;
    color:#EE4000;
}

.fb-img-wrapper {
    border-radius: 100px;
    background-color: black;
}

.fb-img {
    width: 91%;
    margin-left: 8px;
    margin-top: 4px;
    border-radius: 150px;
}

.content-block-inner {
    background-color:#EE4000;
    text-align:center;
    height:180px;
    padding-top:70px;
    color:white;
}

.content-block-inner h1 {
    font-family:'HelveticaNeue-Thin';
    font-size:400%;
    letter-spacing:0.8px;
    text-transform:lowercase;
    display:inline-block;
}

.content-block-inner h2 {
    font-size:200%;
    font-family:'HelveticaNeue-Thin';
    font-weight:none;
}

.profile-name {
    font-size: 350%;
    text-align: center;
    margin-top: 22px;
}

.navbar {
    /*background-color:#FFA812;*/
    background-color:#2ec2c7;
    height:55px;
}

.center img {
    height:30px;
}

a .join {
    background-color:#FFA812;
}

.event-page-activity-img {
    height: 65px;
    margin-top: 7px;
    background-color: white;
    padding: 15px;
    border-radius: 50px;
}

#user-post {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    float:right;
    margin-left:0px;
}

#activities-list {
    padding-left: 0px;
}

#newsfeed-list {
    padding-left: 0px;
}

.page-content{
    padding-top:20px !important;
}

.item-content{
    border-bottom:1px solid #e5e5e5 !important;
}

.event-page-main {
    height: initial;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
}

.event-status-button {
    color: black !important;
    border-color: white;
    width: 90%;
    margin-left: 5%;
    background: white !important;
}

.event-status-button:focus {
    outline: 0;
}

.create-submit-button:focus {
    outline: 0;
}

.activity-start-time {
    margin-bottom: 0px;
}

.host-row {
    margin: 5px 0;
}

.host-title {
    margin-top: 10px;
    text-align: center;
    font-size: 200%;
}

.profile-tab {
    background: inherit;
    color: #d0d0d0;
    border-color: #d0d0d0;
}

.buttons-row .button:first-child {
    border-radius: 0;
}

.buttons-row .button:last-child {
    border-radius: 0;
}

.profile-tab.active {
    color: white;
    background: #2ec2c7;
}

.list-block .item-inner {
    border-bottom: none !important;
}

.pull-to-refresh-layer .preloader {
    top: 132%;
}
